body {
  background-image: url("../images/background.jpg");
}

h1 {
  color: white;
  font-size: 75px;
}

#start {
  font-size: 25px;
}

#question {
  color: blanchedalmond;
  font-size: 50px;
}

#answer {
  color: black;
  font-weight: bold;
  font-size: 33px;
}